@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.back{
    margin-left: 3%;
    margin-top: 5%;
}
.btnback{
    border: none;
    background: none;
    cursor: pointer;
}
.to{
    display: flex;
}
.send{
    margin-left: 5%;
    font-size: 35px;
    color: rgb(161, 159, 159);
}
.set{
    margin-left: 5%;
    font-size: 35px;
    color: rgb(161, 159, 159);
}
.senddetail{
    margin-left: 5%; 
    font-size: 35px;
    color: rgb(0, 0, 0);
    width: 650px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Kanit', sans-serif;
}
.imcar{
    margin-left: 150px; 
    width: 70%;
    height: 70%;
}
.imper{
    width: 50px; 
    height: 60px;
}
.posiper .btnper{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper2{
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper3{
    position: absolute;
    top: 40%;
    left: 41%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper4{
    position: absolute;
    top: 40%;
    left: 49%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper5{
    position: absolute;
    top: 40%;
    left: 56%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper6{
    position: absolute;
    top: 40%;
    left: 63%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper7{
    position: absolute;
    top: 47%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper8{
    position: absolute;
    top: 47%;
    left: 33%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper9{
    position: absolute;
    top: 47%;
    left: 42%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper10{
    position: absolute;
    top: 47%;
    left: 49%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper11{
    position: absolute;
    top: 47%;
    left: 56%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.posiper .btnper12{
    position: absolute;
    top: 47%;
    left: 63%;
    transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}
.quantity{
    font-size: 250px;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    background-color: #4649FF;
    color: white;
    position: absolute;
    top: 72%;
    left: 20%;
}
.jumnuan{
   position: absolute;
   top: 62%;
   left: 1%;
}
.add{
    position: absolute;
    top: 71%;
    left: 50%;
    cursor: pointer;
}
.delete{
    position: absolute;
    top: 80%;
    left: 50%;
    cursor: pointer;
}
.continue{
    border-radius: 20px;
    position: absolute;
    top: 91%;
    left: 15%;
    width: 70%;
    height: 110px;
    font-size: 40px;
    border: none;
    background-color: #4649FF;
    color: white;
    cursor: pointer;
}

.sum-count button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.wait{
    font-size: 55px;
    color: white;
    position: absolute;
    top: 28%;
    left: 27%;
}
.loader {
    border: 40px solid #f3f3f3;
    border-radius: 50%;
    border-top: 40px solid #3498db;
    width: 400px;
    height: 400px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 27%;
  }
.carload{
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 1;
  }
.total-count{
    font-weight: 500px;
    font-size: 250px;
    border-radius: 10%;
    position: absolute;
    top: 71%;
    left: 30%;
    text-align: center;
    background-color: #4649FF;
    color: white;
    width: 200px;
    font-family: Lucida Sans ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px
}

.loader {
    margin-left: 10px;
    margin-top: 30px;
    border: 30px solid #f3f3f3;
    border-radius: 50%;
    border-top: 30px solid #3498db;
    width: 380px;
    height: 380px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
